.section {
  position: relative;
  max-width: 756px;
  margin: 2.4rem;

  @include lg-up {
    margin: 2.4rem auto;
  }
}

.text-right {
  text-align: right !important;
}

.tablehightlight {
  & tr {
    &:nth-child(2n + 3) {
      background-color: $secondary;
    }

    &:last-child {
      border-radius: 0 0 0 1rem;

      & td {
        &:nth-child(1) {
          border-bottom-left-radius: 1rem;
        }
        &:last-child {
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
}

.d-none {
  display: none;
}

.c-pointer {
  cursor: pointer;
}

.text-select-none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cappitalize {
  text-transform: capitalize;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 6.7rem;
  height: 7.1rem;
  aspect-ratio: 1;
  animation: l1 1s infinite;
  font-size: 5rem;
  filter: drop-shadow(0 0 5rem $black);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e3eae738;
    width: 100%;
  }
}

@keyframes l1 {
  to {
    transform: rotate(360deg);
  }
}
