.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    display: flex;
    align-items: center;
  }

  & svg {
    margin-right: 2.1rem;
  }

  & h3 {
    margin: 0;
  }

  &__subtitle {
    margin-left: 2.1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
}

.back {
  & a {
    padding: 1.2rem 0;

    & svg {
      transition: transform 0.3s ease;
    }

    &:hover {
      & svg {
        transform: translateX(-1rem);
      }
    }
  }
}