.home {
  & h1 {
    margin-bottom: 3.6rem;
  }

  & h4 {
    margin-bottom: 1rem;
  }

  &__link {
    height: 10rem;
    width: 100%;
    background-color: $secondary;
    padding: 2.4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
    font-size: 2rem;
    color: $gray-900;
    font-weight: 400;
    transition: all $ease;

    & svg path {
      transition: all $ease;
    }
  
    &:hover {
      background-color: $primary;
      color: $white;

      & svg path {
        fill: $white;
        stroke: $white;
      }
    }

    & h3 {
      margin: 0;
    } 

    &__wrapper {
      display: flex;
      justify-content: center;
      gap: 1.6rem;
    }
  }
}