.gamereplay {
  &__title {
    vertical-align: baseline;

    &__field {
      &--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        text-align: left;
        padding: 0;
        width: 100%;

        & span {
          width: 100%;
          padding: 0.8rem 0.8rem 0 0.8rem;
          display: block;
          text-align: center;
          font-weight: 300;
        }
      }
    }
  }

  &__links {
    color: $black;

    &__wrapper {
      margin-top: 1.6rem;
    }
  }

  &__row {
    &__field {
      text-align: center;
      font-size: 1.6rem;
      color: $black;
      text-align: left;
      border-left: 0.1rem solid $gray-400;
      padding: 0;

      &--maxwidth {
        max-width: 4.9rem;
        font-size: 1.4rem;
      }

      &--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      & span {
        padding: 0.8rem;
        width: 100%;
        display: block;
        text-align: center;
        border-left: 0.1rem solid $gray-400;

        &:first-child {
          border-left: 0.1rem solid $black;
        }
      }
    }
  }

  & tr:nth-child(2n + 3) {
    background-color: $secondary;
  }

  &__admincontrols {
    padding: 2.4rem;
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0.2rem solid $gray-400;
    border-radius: 2rem;

    & h3 {
      text-align: center;
      width: 100%;
    }

    & .wizard__input__field {
      width: 55%;
    }

    &--btn {
      width: 45%;
      height: 5.2rem;
      font-size: 2.1rem;
      border: none;
      background-color: $secondary;
      color: $gray-900;
      cursor: pointer;
      transition: all $ease;
      border-radius: 0 1rem 1rem 0;

      & svg {
        transition: all $ease;
        fill: $black;
      }

      &:hover {
        background-color: $primary;
        color: $white;

        & svg {
          fill: $white !important;
        }
      }
    }

    &--mvp {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;

      &-disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
      }

      & h5 {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
      }

      &-btn {
        width: 100%;
        height: 5.2rem;
        font-size: 2.1rem;
        border: none;
        background-color: $secondary;
        color: $gray-900;
        cursor: pointer;
        transition: all $ease;
        border-radius: 1rem;
        padding: 0 2.4rem;

        & svg {
          transition: all $ease;
          fill: $black;
        }

        &-active {
          background-color: $primary;
          color: $white;

          & svg {
            fill: $white !important;
          }
        }

        &:hover {
          background-color: $primary;
          color: $white;

          & svg {
            fill: $white !important;
          }
        }
      }
    }

    &__danger {
      border: 0.2rem solid $warning;
      border-radius: 2rem;
      padding: 2.4rem;
      margin-bottom: 2.4rem;
      margin-top: 2.4rem;

      &--title {
        margin-top: 1.2rem;
        text-align: center;
        color: $warning;
      }

      &--btn {
        width: 100%;
        height: 5.2rem;
        font-size: 2.1rem;
        border: none;
        cursor: pointer;
        transition: all $ease;
        margin-top: 2.1rem;
        border-radius: 1rem;
        color: $white;
        background-color: $warning;
      }
    }
  }
}
