.gametable {
    &__title {
      &__field {
        text-align:center;
      }
    }
  
    &__row {
      &__field {
        text-align:center;

        &--player {
            display: flex;
            justify-content: space-between;
            border-left: none;
            padding: 0.8rem 1.2rem;
        }
      }
    }
  }